body {
    padding:0; 
    margin:0;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
    background-color: #3B3B49;
    color: white;
}
h1{
    
}
p{
    
}
#pre_header{
    display: table-cell; vertical-align: middle;
    height: 100px;
}
#pre_text_div{
    margin-left: 50px;
    position: relative;
    top: 35%;
    height: 100%;
    width: 800px;
    font-size: 20px;
    display: table-cell; vertical-align: middle;
}


#header{
    height: 120px;
    background-color: #6869D9;
}
#title_div{
    height: 100%;
    width: 600px;
    float: left;
}
#title{
    transform: translateY(-15%);
    font-family: 'Source Code Pro';
    color: white;
    font-size: 40px;
    padding-left: 50px;
}

#header_buttons_div{
    height: 100%;
    width: 300px;
    float: right;
    margin-right: 200px;
}
.header_button{
    color: black;
    height: 100%;
    width: 50%;
    float: left;
}
#sobre{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: aqua;
    height: 50px;
    width: 80px;

}
#projetos{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: aqua;
    height: 50px;
    width: 100%px;

}